<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    for developers and entrepreneurs to meet and collaborate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, delectus, deleniti,
    ad cum illo dicta et quisquam quae commodi libero vel ex accusamus. Vitae amet voluptatibus repellat deserunt rem illo!
    </p>
</div>