<!DOCTYPE html>
<html>
        <head>
                <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
        </head>
        <style>
               html{
                  font-family: "Open-Sans", sans-serif;     
               } 
               container{
                       background: #3a6186; /* fallback for old browsers */
                        background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
                        background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                }
               
               
        </style>
        <body>
                <div class="container" id="email_head">
                        <h1>DevMatch</h1>
                        <h2>You have recieved a message from the site's contact form!</h2>
                </div>
                <br>
                <br>
                
                <h1>From: <%= "#{ @name }, #{ @email }."%></h1>
                
                <br>
                
                <p><%= @body %></p>
        </body>
</html>