<!DOCTYPE html>
<html>
        <head></head>
        <body>
                <p>YOu have recieved a message from the site's contact form, from 
                <%= "#{ @name }, #{ @email }." %> </p>
                <p><%= @body %></p>
        </body>
</html>